!!! 5
html
  head
    title= 'hello'
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='/js/jquery.collapse.js')
    script(src='/js/jquery.cookie.js')

    script
        document.documentElement.className = "js";
        $(".retweets").collapse({show: function(){
                    this.animate({
                        opacity: 'toggle',
                        height: 'toggle'
                    }, 300);
                },
                hide : function() {

                    this.animate({
                        opacity: 'toggle',
                        height: 'toggle'
                    }, 300);
                }
            });
  body
    #shell
        header
            include /layout/header
        section!=body
        