link-color = #080808
bg-color = #E0E0E0 
text-color = #080808 


body
    a
        color link-color
    #shell
        margin 0px auto
        width 1000px
    header, footer
        width 1000px
    .content
        clear both

header
    #header-bottom
        font-family: helvetica
        nav
            position relative
            clear both
            margin 0px auto
            height 30px
            a
                font-size .6em
                text-decoration none
                display block
                text-align center

            a:hover
                text-decoration underline
            h2
                width 142px
                margin 0px auto
                float left
                font-family: sans-serif
            h2.first a
                padding-left 15px
            h2.last a
                padding-left 15px
                padding-right 15px
