link-color = #080808
bg-color = #E0E0E0 
text-color = #080808 


body
    background-color bg-color
    font-family: verdana
    border: thin solid black
    a
        color link-color
    #shell
        margin 0px auto
        width 1000px
    header, footer
        width 1000px
        font-family: verdana
    .content
        clear both

header
    #header-bottom
        background-color #E0E0E0
        font-family: helvetica
        nav
            position relative
            clear both
            margin 0px auto
            height 30px
            h2
                width 142px
                margin 0px auto
                float left
                font-family: sans-serif
                a
                    letter-spacing .5px
                    font-size 0.5em
                    text-transform uppercase
                    color #200000 
                    display block
                    padding-left 5px
                    padding-right 5px
                    padding-top 15px
                    padding-bottom 25px
                a:hover
                    color #E0E0E0
                    background #EBEBEB
            h2.first a
                padding-left 15px
                padding-top 15px
                padding-bottom 25px
            h2.last a
                padding-left 15px
                padding-top 15px
                padding-right 15px
                padding-bottom 25px