link-color = #080808
bg-color = #E0E0E0 
text-color = #080808 


body
    a
        color link-color
    #shell
        margin 0px auto
        width 1000px
    header, footer
        width 1000px
    .content
        clear both

header
    #header-bottom
        font-family: helvetica
        nav
            position relative
            clear both
            margin 0px auto
            height 30px
            a
                display block
                text-align center

            p
                width 142px
                margin 0px auto
                float left
                font-family: sans-serif
            p.first a
                padding-left 15px
            p.last a
                padding-left 15px
                padding-right 15px
        padding-top 10px
        border-bottom 1px solid black
        margin-bottom 1em
.retweets
    padding-left 20px
    border-left 1px solid black

