#header-bottom
    nav.clearfix
        h2.first
            a(href='/paper/Lake Norman News') Lake Norman News
        h2
            a(href='/paper/newsobserver.com') News Observer
        h2
            a(href='/paper/The Daily Tar Heel') Daily Tar Heel
        h2
            a(href='/paper/Faye Observer') Faye Observer
        h2
            a(href='/paper/Charlotte Observer') Charlotte Observer
        h2
            a(href='/paper/Cabarrus News') Cabbarus News
        h2.last
            a(href='/paper/South Charlotte News') South City News
