
#header-bottom
    nav.clearfix
        h2.first
            a(href='/newslakenorman') Lake Norman News
        h2
            a(href='/newsobserver') News Observer
        h2
            a(href='/dailytarheel') Daily Tar Heel
        h2
            a(href='/fayeobserver') Faye Observer
        h2
            a(href='/charlotteobserver') Charlotte Observer
        h2
            a(href='/cabbarusnews') Cabbarus News
        h2.last
            a(href='/southcitynews') South City News
