#header-bottom
    nav.clearfix
        p.first
            a(href='/paper/Lake Norman News') Lake Norman News
        p
            a(href='/paper/newsobserver.com') News Observer
        p
            a(href='/paper/The Daily Tar Heel') Daily Tar Heel
        p
            a(href='/paper/Faye Observer') Faye Observer
        p
            a(href='/paper/Charlotte Observer') Charlotte Observer
        p
            a(href='/paper/Cabarrus News') Cabbarus News
        p.last
            a(href='/paper/South Charlotte News') South City News
